.NavBar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: 5px;
}

.NavBar-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 5px;
}

.NavBar-title {
  color: white;
  font-size: 24px;
}

.NavBar-link {
  background-color: purple;
  color: white;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.NavBar-link:hover {
  background-color: white;
  color: purple;
}
